.buttonPrimary {
  padding: 15px;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.buttonPrimary:hover {
  background-color: #4CAF50;
  color: white;
}

.buttonSecondary {
  padding: 15px;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.buttonSecondary:hover {
  background-color: #008CBA;
  color: white;
}