<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <img src="../../assets/KB.jpg" alt="Northern Quest Resort & Casino" width="300" height="200"/>
        <ion-searchbar></ion-searchbar>
        <ion-card-content>
            <ion-item-sliding>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../assets/BV.jpeg"
                             alt="Bill Validators">
                    </ion-avatar>
                    <ion-label>Bill Validators</ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <button class="buttonPrimary" type="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </button>

                    <button class="buttonSecondary" type="button">
                        <ion-icon name="information-outline"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../assets/printer.jpeg"
                             alt="Printers">
                    </ion-avatar>
                    <ion-label>Printers</ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <button class="buttonPrimary" type="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </button>

                    <button class="buttonSecondary" type="button">
                        <ion-icon name="information-outline"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../assets/button.jpeg"
                             alt="Buttons">
                    </ion-avatar>
                    <ion-label>Buttons</ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <button class="buttonPrimary" type="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </button>

                    <button class="buttonSecondary" type="button">
                        <ion-icon name="information-outline"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../assets/display.jpeg"
                             alt="Displays">
                    </ion-avatar>
                    <ion-label>Displays</ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <button class="buttonPrimary" type="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </button>

                    <button class="buttonSecondary" type="button">
                        <ion-icon name="information-outline"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../assets/NRT.png"
                             alt="NRTs & ATMs">
                    </ion-avatar>
                    <ion-label>NRTs & ATMs</ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <button class="buttonPrimary" type="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </button>

                    <button class="buttonSecondary" type="button">
                        <ion-icon name="information-outline"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-card-content>
    </ion-card>
</ion-content>