<ion-app>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>{{title}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <ion-card>
            <img src="../../assets/home.jpg" alt="Northern Quest Resort & Casino" width="300" height="200"/>
            <ion-card-header>
                <ion-card-title>Daily Updates</ion-card-title>
                <br>
                <ion-card-subtitle>{{date}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="no-item" *ngIf="loadItem().length === 0">
                <h3 class="no-item">No daily updates</h3>
            </ion-card-content>
        </ion-card>

        <ion-list>
            <ion-item-sliding *ngFor="let entry of loadItem(); let i = index">
                <ion-item>
                    <ion-label position="stacked">{{entry.name}}</ion-label>
                    <ion-textarea>{{entry.description}}</ion-textarea>
                </ion-item>
                <ion-item-options side="end">
                    <button class="buttonPrimary" type="button" (click)="editItem(entry, i)">
                        <ion-icon name="create-outline"></ion-icon>
                        Edit
                    </button>

                    <button class="buttonLight" type="button" (click)="shareItem(entry, i)">
                        <ion-icon name="share-social-outline"></ion-icon>
                        Share
                    </button>

                    <button class="buttonSecondary" type="button" (click)="removeItem(entry, i)" ion-button
                            color="secondary">
                        <ion-icon name="trash-outline"></ion-icon>
                        Done
                    </button>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="addItem()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
</ion-app>