.no-item {
  text-align: center;
}

h3.no-item {
  color: #488aff
}

.buttonPrimary {
  padding: 15px;
  border-radius: 2px;
  background-color: #008CBA;
}

.buttonSecondary {
  padding: 15px;
  border-radius: 2px;
  background-color: #4CAF50;
}

.buttonLight {
  padding: 15px;
  border-radius: 2px;
  background-color: #F2F2F2;
}